<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-signin'}) do |f| %>
  <h2 class="form-signin-heading">Please sign in</h2>
  <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
  <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>

  <div class="checkbox">
    <label>
      <% if devise_mapping.rememberable? %>
        <%= f.check_box :remember_me %> Remember me
      <% end %>
    </label>
  </div>

  <%= f.submit "Sign in", class: "btn btn-lg btn-primary btn-block" %>
  <br />
  <%= render "devise/shared/links" %>

<% end %>

