<%= form_for(@poi) do |f| %>
  <% if @poi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poi.errors.count, "error") %> prohibited this poi from being saved:</h2>

      <ul>
      <% @poi.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "Enter Poi name" %>

  <%= f.label :description %>
  <%= f.text_area :description, autofocus: true, class: "form-control", placeholder: "Enter Poi Description" %>

  <%= f.label :category_id %>
  <%= f.select(:category_id, options_from_collection_for_select(current_user.categories, :id, :name, @poi.category_id), {include_blank: 'Select a category'}, { class: 'form-control' })  %>

  <%= f.label :latitude %>
  <%= f.text_field :latitude, autofocus: true, class: "form-control", placeholder: "Enter the latitude" %>

  <%= f.label :longitude %>
  <%= f.text_field :longitude, autofocus: true, class: "form-control", placeholder: "Enter the longitude" %>

  <div class="actions">
    <%= f.submit nil, class: "actions btn btn-lg btn-primary btn-block" %>
  </div>
  <br />

<% end %>
