<div class="row">
  <div class="col-md-3 sidebar">
    <%= link_to 'New Poi', new_poi_path, class:'btn btn-primary' if display_new_button %>
    <h3>Poi List:</h3>
      <% @pois.each do |poi| %>
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title"><%= poi.name %></h3>
          </div>
          <% if poi.description.present? %>
            <div class="panel-body">
              <%= poi.description %>
            </div>
          <% end %>
          <% if display_poi_actions %>
            <div class="panel-footer">
              <%= link_to 'Edit', edit_poi_path(poi), class: 'btn btn-primary btn-xs'%>
              <%= link_to 'Delete', poi, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs'%>
            </div>
          <% end %>
        </div>
      <% end %>
  </div>
  <div class="col-md-9 main">
    <script type="text/javascript">
      function initialize() {

        var map = new google.maps.Map(document.getElementById("map-canvas"), {zoom: 15});
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position){
            var userLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            map.setCenter(userLocation);
            var userMarker= new google.maps.Marker({
              position: userLocation,
              map: map,
              icon: 'https://cdn3.iconfinder.com/data/icons/iconic-1/32/map_pin_fill-64.png',
              title: "Your current location"
             });
            var infoWindowForUserMarker = new google.maps.InfoWindow({
               content: "Your current location"
             });

             google.maps.event.addListener(userMarker, 'click', function() {
               infoWindowForUserMarker.open(map, userMarker);
             });
          });
        }

        <% pois.each do |poi| %>

             var poiMarker<%= poi.id %> = new google.maps.Marker({
              position: new google.maps.LatLng(<%= poi.latitude %>,<%= poi.longitude %>),
              map: map,
              icon: 'https://cdn1.iconfinder.com/data/icons/Map-Markers-Icons-Demo-PNG/48/Map-Marker-Flag--Right-Chartreuse.png',
              title: "<%= poi.name %>"
             });

             var infoWindowForMarker<%= poi.id %> = new google.maps.InfoWindow({
               content: "<%= poi.description %>"
             });

             google.maps.event.addListener(poiMarker<%= poi.id %>, 'click', function() {
               infoWindowForMarker<%= poi.id %>.open(map, poiMarker<%= poi.id %>);
             });

        <% end %>
      }

      google.maps.event.addDomListener(window, 'load', initialize);

    </script>

    <div id="map-canvas"></div>
  </div>
</div>
