<!DOCTYPE html>
<html>
<head>
  <title>Whereabout</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBZuBULFNVKHkibpTcLOOwoZR5QwPg6VIs"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
    $(document).ready(function(){
      var autocomplete = new google.maps.places.Autocomplete(
         (document.getElementById('address')), { types: ['geocode'] }
      );
      google.maps.event.addListener(autocomplete, 'place_changed', function() {
       console.log(autocomplete);
      });

      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var geolocation = new google.maps.LatLng(
              position.coords.latitude, position.coords.longitude);
          autocomplete.setBounds(new google.maps.LatLngBounds(geolocation,
              geolocation));
        });
      }
      console.log("autocomplete loaded!");
    });
    
  </script>

</head>

<body>
  <!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Whereabout", search_path, class: "navbar-brand" %>
      </div>
      <div class="navbar-collapse collapse">
          <%= form_tag(search_path, method: :post, class: 'navbar-form navbar-left') %>
          <div class="row">
            <div class="form-group">
              <%= select_tag(:category_id, options_from_collection_for_select(@system_categories, :id, :name), {include_blank: 'Select a category', class: 'form-control' } )%>
            </div>
            <div class="form-group">
              <%= text_field_tag :address, nil, placeholder: 'Enter and address', class: 'form-control' %>
            </div>
            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
          </div>
        </form>

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <%= image_tag current_user.gravatar_url %> <%= current_user.email %> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to('My Account', edit_user_registration_path) %></li>
              <li><%= link_to('My Categories ', categories_path) %></li>
              <li><%= link_to('My Pois ', pois_path) %></li>
            </ul>
          </li>
          <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
        </ul>

      </div><!--/.nav-collapse -->
    </div>
  </div>

  <div class="container-fluid">
    <%= render "flash_messages" %>

    <%= yield %>
  </div>
</body>
</html>
